@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap');

:root {
    /* Colors */
 --primary: #300e86;
 --secondary: #096492;
 --alternative: #0992a1;
 --text-color: #28124d;
 /*spacing*/
--spacing-large: 6rem;
--spacing-medium: 2,5rem;
--spacing-small: 2rem;
--spacing-xsmall: 1rem;
}
*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
font-size: 62,5%;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul{
    list-style-type: none;

}
a{
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: var(--primary);
}
img{
    width: 100%;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: var(--spacing-small);
    border: 2px solid var(--text-color);
}
.imagen__logo{
    max-width: 200px;
}

.lista{
    display: flex;
    gap: var(--spacing-small);
}
.lista__menu{
    font-size:medium;
    padding: var(--alternative);
   
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: var(--spacing-small);

}
.imagen{ 
 display: flex;
 gap: var(--spacing-small);
 justify-content: center;
 flex-wrap: wrap;
}
.galeria{
    display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: none;
  gap: var(--spacing-small);
}
.galeria__img:nth-of-type(1){
    grid-column: 1 / 7;
}
.galeria__img:nth-of-type(2){
    grid-column: 7 / 13;
}



.contacto{
    display: flex;
    justify-content: left;
    gap: var(--spacing-xsmall);
   
}
.facebook{
   
    width: 50px;
    height: 50px;
}
.wtp{
   
    width: 50px;
    height: 50px;
}